body{
    font-family: Verdana, Geneva,  Arial, Helvetica, sans-serif;
    font-size: 14px;
}
 
#navigation{
    width: 50px;
    height: 6000px;
    padding: 20px;
    float: left;
    padding-top: 100px;
}
 
a:link,a:visited{
    text-decoration: none;
}
 
li{
    list-style-type: none;
    margin-bottom: 5px;
}
 
li.active{
    color:gray;
    list-style-type: disc;
}